In [1]:
# Machine Learning -> ML is all about training the data and testing the model.
  # Types --> Supervised learning, and Unsupervised learning

In [ ]:
# 1. Supervised learning --> When input and output is known labeled data.
  # Types --> Classification, and Regression

# 2. Unsupervised learning --> When output is unknown

In [2]:
# Steps --> 
  # 1. Cleaning data --> filling missing values, detect outliers and remove outliers (using ZScore method)
  # 2. Encoding --> OneHotEncoder, OrdinalEncoder, LabelEncoder 
      # from sklearn.preprocessing import LabelEncoder
      # le = LabelEncoder()
      # df['categorical_column_name'] = le.fit_transform(df['categorical_column_name'])


  # 3. Seperate input and output variables 
       # Syntex -: x = df.drop(target_col, axis = 1) --> x denotes "Input"
       # y = df[target_col] --> y denotes "Output"

  # 4. Scaling

  # 5. Seperate training and testing data
     # from sklearn.model_selection import train_test_split   ----------> (Library)
     # x_train, x_test, y_train, y_test = train_test_split(x,y,test_size = 0.2, random_state = 42) 

  # 6. import algo -------->   from sklearn.linear_model import LinearRegression
  #    make object -------->   lr = LinearRegression()
  #    trained the model --->  lr.fit(x_train, y_train)

In [ ]:
# Q1. How do we know which columns to delete and which columns to keep?
# Q2. How do I know which columns of data needs to be changed?

In [2]:
import pandas as pd
import numpy as np
import os
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px
import warnings

warnings.filterwarnings("ignore")

In [3]:
# Read file 
df = pd.read_excel("Data_Train.xlsx")
df.head(3)

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882

In [4]:
df['Journey_Day'] = pd.to_datetime(df['Date_of_Journey']).dt.day
df['Journey_Month'] = pd.to_datetime(df['Date_of_Journey']).dt.month

In [5]:
df.drop('Date_of_Journey', axis = 1, inplace = True)

In [6]:
df.head(3)

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Journey_Day,Journey_Month
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897,24,3
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662,1,5
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882,9,6

In [7]:
df['Dep_Hour'] = pd.to_datetime(df['Dep_Time']).dt.hour
df['Dep_Minute'] = pd.to_datetime(df['Dep_Time']).dt.minute

In [8]:
df.drop('Dep_Time', axis = 1, inplace = True)

In [9]:
df.head(3)

,Airline,Source,Destination,Route,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Journey_Day,Journey_Month,Dep_Hour,Dep_Minute
0,IndiGo,Banglore,New Delhi,BLR → DEL,01:10 22 Mar,2h 50m,non-stop,No info,3897,24,3,22,20
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,13:15,7h 25m,2 stops,No info,7662,1,5,5,50
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,04:25 10 Jun,19h,2 stops,No info,13882,9,6,9,25

In [10]:
df['Arrival_Hour'] = pd.to_datetime(df['Arrival_Time']).dt.hour
df['Arrival_Minute'] = pd.to_datetime(df['Arrival_Time']).dt.minute

In [12]:
df.drop('Arrival_Time', axis = 1, inplace = True)

In [13]:
df.head(3)

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,Journey_Day,Journey_Month,Dep_Hour,Dep_Minute,Arrival_Hour,Arrival_Minute
0,IndiGo,Banglore,New Delhi,BLR → DEL,2h 50m,non-stop,No info,3897,24,3,22,20,1,10
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,7h 25m,2 stops,No info,7662,1,5,5,50,13,15
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,19h,2 stops,No info,13882,9,6,9,25,4,25

In [14]:
# In data duration in hours --> hours change in minutes
df['Duration'] = df['Duration'].str.replace('h', "*60").str.replace(" ", " + ").str.replace("m", "*1").apply(eval)

In [15]:
df.head(3)

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,Journey_Day,Journey_Month,Dep_Hour,Dep_Minute,Arrival_Hour,Arrival_Minute
0,IndiGo,Banglore,New Delhi,BLR → DEL,170,non-stop,No info,3897,24,3,22,20,1,10
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,445,2 stops,No info,7662,1,5,5,50,13,15
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,1140,2 stops,No info,13882,9,6,9,25,4,25

In [16]:
# ALl the work we did was to manage the data.

In [17]:
# Now Analysis

In [18]:
df.isnull().sum()

Airline            0
Source             0
Destination        0
Route              1
Duration           0
Total_Stops        1
Additional_Info    0
Price              0
Journey_Day        0
Journey_Month      0
Dep_Hour           0
Dep_Minute         0
Arrival_Hour       0
Arrival_Minute     0
dtype: int64

In [19]:
df.dropna(inplace=True)

In [20]:
df.isnull().sum()

Airline            0
Source             0
Destination        0
Route              0
Duration           0
Total_Stops        0
Additional_Info    0
Price              0
Journey_Day        0
Journey_Month      0
Dep_Hour           0
Dep_Minute         0
Arrival_Hour       0
Arrival_Minute     0
dtype: int64

In [ ]:
# Converting categoriacl data into numerical data ---->>> Encoding

In [21]:
from sklearn.preprocessing import LabelEncoder

In [22]:
le = LabelEncoder()

In [23]:
categorical = df.select_dtypes(include = "object")
categorical

,Airline,Source,Destination,Route,Total_Stops,Additional_Info
0,IndiGo,Banglore,New Delhi,BLR → DEL,non-stop,No info
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,2 stops,No info
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,2 stops,No info
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,1 stop,No info
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,1 stop,No info
...,...,...,...,...,...,...
10678,Air Asia,Kolkata,Banglore,CCU → BLR,non-stop,No info
10679,Air India,Kolkata,Banglore,CCU → BLR,non-stop,No info
10680,Jet Airways,Banglore,Delhi,BLR → DEL,non-stop,No info
10681,Vistara,Banglore,New Delhi,BLR → DEL,non-stop,No info
10682,Air India,Delhi,Cochin,DEL → GOI → BOM → COK,2 stops,No info

In [24]:
for i in categorical:
    df[i] = le.fit_transform(df[i])

In [25]:
df.head(3)

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,Journey_Day,Journey_Month,Dep_Hour,Dep_Minute,Arrival_Hour,Arrival_Minute
0,3,0,5,18,170,4,8,3897,24,3,22,20,1,10
1,1,3,0,84,445,1,8,7662,1,5,5,50,13,15
2,4,2,1,118,1140,1,8,13882,9,6,9,25,4,25

In [26]:
# Now Checking outliers

In [27]:
from scipy.stats import zscore

In [28]:
z = np.abs(zscore(df))
df1 = df[(z<3).all(axis = 1)]

In [29]:
df.shape

(10682, 14)

In [30]:
df1.shape

(10512, 14)

In [31]:
df = df1.copy()

In [32]:
# Now ML steps --> These are fix steps for ML.----> These steps use in every time for ML.

 # Steps --> 
  # 1. Cleaning data --> filling missing values, detect outliers and remove outliers (using ZScore method)
  # 2. Encoding --> OneHotEncoder, OrdinalEncoder, LabelEncoder 
      # from sklearn.preprocessing import LabelEncoder
      # le = LabelEncoder()
      # df['categorical_column_name'] = le.fit_transform(df['categorical_column_name'])

 # 3. Seperate input and output variables 
       # Syntex -: x = df.drop(target_col, axis = 1) --> x denotes "Input"
       # y = df[target_col] --> y denotes "Output"

  # 4. Scaling

  # 5. Seperate training and testing data
     # from sklearn.preprocessing import StandardScaler
        # make obj --> sc = StandardScaler()
        # X_sc = sc.fit_transform(X)  
     ##### then ####

     # from sklearn.model_selection import train_test_split   ----------> (Library)
     # x_train, x_test, y_train, y_test = train_test_split(x,y,test_size = 0.2, random_state = 42) 

  # 6. import algo -------->   from sklearn.linear_model import LinearRegression
  #    make object -------->   lr = LinearRegression()
  #    trained the model --->  lr.fit(x_train, y_train)

  # y_pred = lr.predict(X_test)
  # cal = pd.DataFrame(np.c_[y_test, y_pred], columns = ['Actual_Price', 'Predicted_Price'])
    # cal

In [33]:
X = df.drop('Price', axis = 1) # Price column is the target column or (Price column is Input.)
y = df['Price'] # here Price column is the Output column(target column)

In [34]:
X

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Journey_Day,Journey_Month,Dep_Hour,Dep_Minute,Arrival_Hour,Arrival_Minute
0,3,0,5,18,170,4,8,24,3,22,20,1,10
1,1,3,0,84,445,1,8,1,5,5,50,13,15
2,4,2,1,118,1140,1,8,9,6,9,25,4,25
3,3,3,0,91,325,0,8,12,5,18,5,23,30
4,3,0,5,29,285,0,8,1,3,16,50,21,35
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10678,0,3,0,64,150,4,8,9,4,19,55,22,25
10679,1,3,0,64,155,4,8,27,4,20,45,23,20
10680,4,0,2,18,180,4,8,27,4,8,20,11,20
10681,10,0,5,18,160,4,8,1,3,11,30,14,10
10682,1,2,1,108,500,1,8,9,5,10,55,19,15

In [35]:
y

0         3897
1         7662
2        13882
3         6218
4        13302
         ...
10678     4107
10679     4145
10680     7229
10681    12648
10682    11753
Name: Price, Length: 10512, dtype: int64

In [36]:
# Now traning and testing data --> Steps are -->>>

In [37]:
from sklearn.preprocessing import StandardScaler

In [38]:
sc = StandardScaler()

In [39]:
X_sc = sc.fit_transform(X)

In [40]:
from sklearn.model_selection import train_test_split

In [41]:
X_train, X_test, y_train, y_test = train_test_split(X_sc, y, test_size = 0.2, random_state = 42)

In [42]:
from sklearn.linear_model import LinearRegression

In [43]:
lr = LinearRegression()

In [44]:
lr.fit(X_train, y_train)

LinearRegression()

In [45]:
y_pred = lr.predict(X_test)

In [47]:
cal = pd.DataFrame(np.c_[y_test, y_pred], columns = ['Actual_Price', 'Predicted_Price'])
cal

      Actual_Price  Predicted_Price
0           5069.0      9656.481337
1          10953.0     11852.320160
2          10919.0     10081.614948
3          13941.0     11932.882883
4          12681.0     11128.300192
...            ...              ...
2098        8040.0      4618.718665
2099       10262.0     11345.984798
2100       10651.0     10912.596574
2101       10844.0     11039.635689
2102        4148.0      5518.380912

[2103 rows x 2 columns]

In [48]:
# The work on this data has been completed.

In [49]:
# Now we are working on New Data

Project --> Bengaluru_House_Data

In [50]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import os
import plotly.express as px
import warnings

warnings.filterwarnings("ignore")

In [51]:
df1 = pd.read_csv("Bengaluru_House_Data.csv")
df1.head(3)

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00

In [52]:
df1.columns

Index(['area_type', 'availability', 'location', 'size', 'society',
       'total_sqft', 'bath', 'balcony', 'price'],
      dtype='object')

In [53]:
df1.isnull().sum()

area_type          0
availability       0
location           1
size              16
society         5502
total_sqft         0
bath              73
balcony          609
price              0
dtype: int64

In [54]:
df1.shape

(13320, 9)

In [55]:
df2 = df1.drop(['area_type', 'society', 'balcony', 'availability'], axis = 'columns')
df2.head(3)

                   location       size total_sqft  bath   price
0  Electronic City Phase II      2 BHK       1056   2.0   39.07
1          Chikka Tirupathi  4 Bedroom       2600   5.0  120.00
2               Uttarahalli      3 BHK       1440   2.0   62.00

In [56]:
df2.shape

(13320, 5)

In [57]:
df2.isna().sum()

location       1
size          16
total_sqft     0
bath          73
price          0
dtype: int64

In [58]:
df3 = df2.dropna()
df3.isnull().sum()

location      0
size          0
total_sqft    0
bath          0
price         0
dtype: int64

In [59]:
df3.shape

(13246, 5)

In [60]:
s1 = '3 bhk'
int(s1.split()[0])

3

In [61]:
# Feature Engineering

In [62]:
df3['bhk'] = df3['size'].apply(lambda x: int(x.split()[0]))
df3.bhk.unique()

array([ 2,  4,  3,  6,  1,  8,  7,  5, 11,  9, 27, 10, 19, 16, 43, 14, 12,
       13, 18], dtype=int64)

In [63]:
df3['total_sqft'].unique()

array(['1056', '2600', '1440', ..., '1133 - 1384', '774', '4689'],
      dtype=object)

In [64]:
df3.head(3)

                   location       size total_sqft  bath   price  bhk
0  Electronic City Phase II      2 BHK       1056   2.0   39.07    2
1          Chikka Tirupathi  4 Bedroom       2600   5.0  120.00    4
2               Uttarahalli      3 BHK       1440   2.0   62.00    3

In [65]:
df3['total_sqft'].value_counts()

total_sqft
1200    843
1100    221
1500    204
2400    195
600     180
       ...
5985      1
3580      1
2461      1
1437      1
4689      1
Name: count, Length: 2067, dtype: int64

In [66]:
df3['total_sqft'].unique()

array(['1056', '2600', '1440', ..., '1133 - 1384', '774', '4689'],
      dtype=object)

In [71]:
df3.head()

                   location       size total_sqft  bath   price  bhk
0  Electronic City Phase II      2 BHK       1056   2.0   39.07    2
1          Chikka Tirupathi  4 Bedroom       2600   5.0  120.00    4
2               Uttarahalli      3 BHK       1440   2.0   62.00    3
3        Lingadheeranahalli      3 BHK       1521   3.0   95.00    3
4                  Kothanur      2 BHK       1200   2.0   51.00    2

In [67]:
# Explore Total SQFT feature

In [68]:
# Handle dashes value

In [69]:
def is_float(x):
    try:
        float(x)
    except:
        return False
    return True

In [70]:
df3[~df3['total_sqft'].apply(is_float)].head(10)

               location       size      total_sqft  bath    price  bhk
30            Yelahanka      4 BHK     2100 - 2850   4.0  186.000    4
122              Hebbal      4 BHK     3067 - 8156   4.0  477.000    4
137  8th Phase JP Nagar      2 BHK     1042 - 1105   2.0   54.005    2
165            Sarjapur      2 BHK     1145 - 1340   2.0   43.490    2
188            KR Puram      2 BHK     1015 - 1540   2.0   56.800    2
410             Kengeri      1 BHK  34.46Sq. Meter   1.0   18.500    1
549         Hennur Road      2 BHK     1195 - 1440   2.0   63.770    2
648             Arekere  9 Bedroom       4125Perch   9.0  265.000    9
661           Yelahanka      2 BHK     1120 - 1145   2.0   48.130    2
672        Bettahalsoor  4 Bedroom     3090 - 5002   4.0  445.000    4

In [73]:
# Dummy work
s1 = "3090 - 5002"
x = s1.split("-")
(int(x[0])+int(x[1]))/2

4046.0

In [74]:
def convert_sqft_to_num(x):
    tokens = x.split('-')
    if len(tokens) == 2:
        return (float(tokens[0]) + float(tokens[1]))/2
    try:
        return float(x)
    except:
        return None

In [76]:
df4 = df3.copy()
df4.total_sqft = df4.total_sqft.apply(convert_sqft_to_num)
df4 = df4[df4.total_sqft.notnull()]
df4.shape

(13200, 6)

In [77]:
df3.shape

(13246, 6)

In [78]:
df4.head(3)

                   location       size  total_sqft  bath   price  bhk
0  Electronic City Phase II      2 BHK      1056.0   2.0   39.07    2
1          Chikka Tirupathi  4 Bedroom      2600.0   5.0  120.00    4
2               Uttarahalli      3 BHK      1440.0   2.0   62.00    3

In [79]:
df5 = df4.copy()
df5['price_per_sqft'] = df5['price']*100000/df5['total_sqft']
df5.head()

,location,size,total_sqft,bath,price,bhk,price_per_sqft
0,Electronic City Phase II,2 BHK,1056.0,2.0,39.07,2,3699.810606
1,Chikka Tirupathi,4 Bedroom,2600.0,5.0,120.00,4,4615.384615
2,Uttarahalli,3 BHK,1440.0,2.0,62.00,3,4305.555556
3,Lingadheeranahalli,3 BHK,1521.0,3.0,95.00,3,6245.890861
4,Kothanur,2 BHK,1200.0,2.0,51.00,2,4250.000000

In [80]:
# Examine Locations 
df5.location = df5.location.apply(lambda x: x.strip())
location_stats = df5['location'].value_counts(ascending = False)
location_stats

location
Whitefield                   533
Sarjapur  Road               392
Electronic City              304
Kanakpura Road               264
Thanisandra                  235
                            ...
Rajanna Layout                 1
Subramanyanagar                1
Lakshmipura Vidyaanyapura      1
Malur Hosur Road               1
Abshot Layout                  1
Name: count, Length: 1287, dtype: int64

In [81]:
df5.head()

,location,size,total_sqft,bath,price,bhk,price_per_sqft
0,Electronic City Phase II,2 BHK,1056.0,2.0,39.07,2,3699.810606
1,Chikka Tirupathi,4 Bedroom,2600.0,5.0,120.00,4,4615.384615
2,Uttarahalli,3 BHK,1440.0,2.0,62.00,3,4305.555556
3,Lingadheeranahalli,3 BHK,1521.0,3.0,95.00,3,6245.890861
4,Kothanur,2 BHK,1200.0,2.0,51.00,2,4250.000000

In [82]:
len(location_stats[location_stats > 10])

240

In [83]:
len(location_stats)

1287

In [84]:
len(location_stats[location_stats <= 10])

1047

In [85]:
location_stats_less_than_10 = location_stats[location_stats <= 10]
location_stats_less_than_10

location
BTM 1st Stage                10
Gunjur Palya                 10
Nagappa Reddy Layout         10
Sector 1 HSR Layout          10
Thyagaraja Nagar             10
                             ..
Rajanna Layout                1
Subramanyanagar               1
Lakshmipura Vidyaanyapura     1
Malur Hosur Road              1
Abshot Layout                 1
Name: count, Length: 1047, dtype: int64

In [86]:
len(df5.location.unique())

1287

In [87]:
df5.location = df5.location.apply(lambda x: "unknown" if x in location_stats_less_than_10 else x)
len(df5.location.unique())

241

In [88]:
df5.location.value_counts()

location
unknown            2872
Whitefield          533
Sarjapur  Road      392
Electronic City     304
Kanakpura Road      264
                   ...
Doddaballapur        11
Tindlu               11
Marsur               11
HAL 2nd Stage        11
Kodigehalli          11
Name: count, Length: 241, dtype: int64

In [89]:
df5['bhk'].unique()

array([ 2,  4,  3,  6,  1,  8,  7,  5, 11,  9, 27, 10, 19, 16, 43, 14, 12,
       13, 18], dtype=int64)

In [90]:
df5['bhk']=df5.bhk.apply(lambda x: x if x<=11 else np.nan)
df5.bhk.unique()

array([ 2.,  4.,  3.,  6.,  1.,  8.,  7.,  5., 11.,  9., nan, 10.])

In [91]:
df5.isnull().sum()

location          0
size              0
total_sqft        0
bath              0
price             0
bhk               8
price_per_sqft    0
dtype: int64

In [92]:
df5['bhk'].fillna(df5['bhk'].mode()[0], inplace = True)

In [93]:
df5.isnull().sum()

location          0
size              0
total_sqft        0
bath              0
price             0
bhk               0
price_per_sqft    0
dtype: int64

In [94]:
df5.head()

,location,size,total_sqft,bath,price,bhk,price_per_sqft
0,Electronic City Phase II,2 BHK,1056.0,2.0,39.07,2.0,3699.810606
1,Chikka Tirupathi,4 Bedroom,2600.0,5.0,120.00,4.0,4615.384615
2,Uttarahalli,3 BHK,1440.0,2.0,62.00,3.0,4305.555556
3,Lingadheeranahalli,3 BHK,1521.0,3.0,95.00,3.0,6245.890861
4,Kothanur,2 BHK,1200.0,2.0,51.00,2.0,4250.000000

In [95]:
df5[df5.total_sqft/df5.bhk<300].head()

,location,size,total_sqft,bath,price,bhk,price_per_sqft
9,unknown,6 Bedroom,1020.0,6.0,370.0,6.0,36274.509804
45,HSR Layout,8 Bedroom,600.0,9.0,200.0,8.0,33333.333333
58,Murugeshpalya,6 Bedroom,1407.0,4.0,150.0,6.0,10660.980810
68,Devarachikkanahalli,8 Bedroom,1350.0,7.0,85.0,8.0,6296.296296
70,unknown,3 Bedroom,500.0,3.0,100.0,3.0,20000.000000

In [96]:
df5.head(3)

,location,size,total_sqft,bath,price,bhk,price_per_sqft
0,Electronic City Phase II,2 BHK,1056.0,2.0,39.07,2.0,3699.810606
1,Chikka Tirupathi,4 Bedroom,2600.0,5.0,120.00,4.0,4615.384615
2,Uttarahalli,3 BHK,1440.0,2.0,62.00,3.0,4305.555556

In [97]:
df6 = df5[~(df5.total_sqft/df5.bhk<300)]
df6.shape

(12462, 7)

In [98]:
df6.bath.unique()

array([ 2.,  5.,  3.,  4.,  1.,  8.,  6.,  7.,  9., 14., 27., 12., 16.,
       40., 15., 10., 13., 18.])

In [99]:
df6[df6.bath>10]

,location,size,total_sqft,bath,price,bhk,price_per_sqft
1078,unknown,9 Bedroom,3300.0,14.0,500.0,9.0,15151.515152
1718,unknown,27 BHK,8000.0,27.0,230.0,2.0,2875.000000
3096,unknown,10 BHK,12000.0,12.0,525.0,10.0,4375.000000
3379,unknown,19 BHK,2000.0,16.0,490.0,2.0,24500.000000
3609,unknown,16 BHK,10000.0,16.0,550.0,2.0,5500.000000
4684,Munnekollal,43 Bedroom,2400.0,40.0,660.0,2.0,27500.000000
4916,unknown,14 BHK,1250.0,15.0,125.0,2.0,10000.000000
7979,unknown,11 BHK,6000.0,12.0,150.0,11.0,2500.000000
8636,Neeladri Nagar,10 BHK,4000.0,12.0,160.0,10.0,4000.000000
9935,unknown,13 BHK,5425.0,13.0,275.0,2.0,5069.124424
11559,unknown,18 Bedroom,1200.0,18.0,200.0,2.0,16666.666667
13067,unknown,10 Bedroom,7150.0,13.0,3600.0,10.0,50349.650350

In [100]:
df6[df6.bath>df6.bhk+2]

,location,size,total_sqft,bath,price,bhk,price_per_sqft
1078,unknown,9 Bedroom,3300.0,14.0,500.0,9.0,15151.515152
1718,unknown,27 BHK,8000.0,27.0,230.0,2.0,2875.000000
2620,unknown,6 BHK,11338.0,9.0,1000.0,6.0,8819.897689
3379,unknown,19 BHK,2000.0,16.0,490.0,2.0,24500.000000
3609,unknown,16 BHK,10000.0,16.0,550.0,2.0,5500.000000
4684,Munnekollal,43 Bedroom,2400.0,40.0,660.0,2.0,27500.000000
4916,unknown,14 BHK,1250.0,15.0,125.0,2.0,10000.000000
6533,Mysore Road,12 Bedroom,2232.0,6.0,300.0,2.0,13440.860215
6838,Rajaji Nagar,5 BHK,7500.0,8.0,1700.0,5.0,22666.666667
7709,Chikkabanavar,4 Bedroom,2460.0,7.0,80.0,4.0,3252.032520
9935,unknown,13 BHK,5425.0,13.0,275.0,2.0,5069.124424
9974,unknown,3 Bedroom,2400.0,6.0,775.0,3.0,32291.666667
11366,Nagasandra,4 Bedroom,7000.0,8.0,450.0,4.0,6428.571429
11559,unknown,18 Bedroom,1200.0,18.0,200.0,2.0,16666.666667
12103,Thanisandra,3 BHK,1806.0,6.0,116.0,3.0,6423.034330
12443,unknown,4 Bedroom,4350.0,8.0,2600.0,4.0,59770.114943
13067,unknown,10 Bedroom,7150.0,13.0,3600.0,10.0,50349.650350

In [101]:
df7 = df6[df6.bath < df6.bhk + 2]
df7.shape

(12301, 7)

In [102]:
df8 = df7.drop(['size', 'price_per_sqft'], axis = "columns")
df8.head(3)

                   location  total_sqft  bath   price  bhk
0  Electronic City Phase II      1056.0   2.0   39.07  2.0
1          Chikka Tirupathi      2600.0   5.0  120.00  4.0
2               Uttarahalli      1440.0   2.0   62.00  3.0

In [103]:
# using Ml

In [104]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df8['location'] = le.fit_transform(df8['location'])

In [105]:
df8.head(3)

   location  total_sqft  bath   price  bhk
0        79      1056.0   2.0   39.07  2.0
1        60      2600.0   5.0  120.00  4.0
2       225      1440.0   2.0   62.00  3.0

In [110]:
X = df8.drop('price', axis = 1)
y = df8['price']

In [112]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_sc = sc.fit_transform(X)

In [113]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_sc, y, test_size = 0.2, random_state = 42)

In [114]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(X_train, y_train)

LinearRegression()

In [115]:
y_pred = lr.predict(X_test)

In [116]:
calc = pd.DataFrame(np.c_[y_test, y_pred], columns = ['Original Price', 'Predicted Price'])
calc

      Original Price  Predicted Price
0               18.0         2.986041
1               23.5        -5.324339
2              128.0        59.940366
3               45.0        70.948938
4               75.0        57.978599
...              ...              ...
2456            95.0        70.461644
2457           155.0       158.848079
2458            72.0        54.604003
2459           115.0        92.452253
2460           128.0       128.369586

[2461 rows x 2 columns]