In [1]:
# Classification project use DT, RF, Adaboost algos
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px
import warnings

warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv("Travel.csv")
df.head(3)

,CustomerID,ProdTaken,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfPersonVisiting,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,Designation,MonthlyIncome
0,200000,1,41.0,Self Enquiry,3,6.0,Salaried,Female,3,3.0,Deluxe,3.0,Single,1.0,1,2,1,0.0,Manager,20993.0
1,200001,0,49.0,Company Invited,1,14.0,Salaried,Male,3,4.0,Deluxe,4.0,Divorced,2.0,0,3,1,2.0,Manager,20130.0
2,200002,1,37.0,Self Enquiry,1,8.0,Free Lancer,Male,3,4.0,Basic,3.0,Single,7.0,1,3,0,0.0,Executive,17090.0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4888 entries, 0 to 4887
Data columns (total 20 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   CustomerID                4888 non-null   int64
 1   ProdTaken                 4888 non-null   int64
 2   Age                       4662 non-null   float64
 3   TypeofContact             4863 non-null   object
 4   CityTier                  4888 non-null   int64
 5   DurationOfPitch           4637 non-null   float64
 6   Occupation                4888 non-null   object
 7   Gender                    4888 non-null   object
 8   NumberOfPersonVisiting    4888 non-null   int64
 9   NumberOfFollowups         4843 non-null   float64
 10  ProductPitched            4888 non-null   object
 11  PreferredPropertyStar     4862 non-null   float64
 12  MaritalStatus             4888 non-null   object
 13  NumberOfTrips             4748 non-null   float64
 14  Passport                  4888 non-null   int64
 15  PitchSatisfactionScore    4888 non-null   int64
 16  OwnCar                    4888 non-null   int64
 17  NumberOfChildrenVisiting  4822 non-null   float64
 18  Designation               4888 non-null   object
 19  MonthlyIncome             4655 non-null   float64
dtypes: float64(7), int64(7), object(6)
memory usage: 763.9+ KB

In [4]:
df.isnull().sum()

CustomerID                    0
ProdTaken                     0
Age                         226
TypeofContact                25
CityTier                      0
DurationOfPitch             251
Occupation                    0
Gender                        0
NumberOfPersonVisiting        0
NumberOfFollowups            45
ProductPitched                0
PreferredPropertyStar        26
MaritalStatus                 0
NumberOfTrips               140
Passport                      0
PitchSatisfactionScore        0
OwnCar                        0
NumberOfChildrenVisiting     66
Designation                   0
MonthlyIncome               233
dtype: int64

In [5]:
# Filling missing values

df['Gender'].value_counts()

Gender
Male       2916
Female     1817
Fe Male     155
Name: count, dtype: int64

In [6]:
df['MaritalStatus'].value_counts()

MaritalStatus
Married      2340
Divorced      950
Single        916
Unmarried     682
Name: count, dtype: int64

In [7]:
df['Gender'] = df['Gender'].replace("Fe Male", "Female")
df['MaritalStatus'] = df['MaritalStatus'].replace('Single', 'Unmarried')
df['Gender'].value_counts()

Gender
Male      2916
Female    1972
Name: count, dtype: int64

In [8]:
df['MaritalStatus'].value_counts()

MaritalStatus
Married      2340
Unmarried    1598
Divorced      950
Name: count, dtype: int64

In [9]:
df.columns

Index(['CustomerID', 'ProdTaken', 'Age', 'TypeofContact', 'CityTier',
       'DurationOfPitch', 'Occupation', 'Gender', 'NumberOfPersonVisiting',
       'NumberOfFollowups', 'ProductPitched', 'PreferredPropertyStar',
       'MaritalStatus', 'NumberOfTrips', 'Passport', 'PitchSatisfactionScore',
       'OwnCar', 'NumberOfChildrenVisiting', 'Designation', 'MonthlyIncome'],
      dtype='object')

In [10]:
# Age
df.Age.fillna(df.Age.median(), inplace = True)

#TypeofContact
df.TypeofContact.fillna(df.TypeofContact.mode()[0], inplace = True)

# DurationOfPitch
df.DurationOfPitch.fillna(df.DurationOfPitch.median(), inplace = True)

# NumberOfFollowups
df.NumberOfFollowups.fillna(df.NumberOfFollowups.mode()[0], inplace = True)

# PreferredPropertyStar
df.PreferredPropertyStar.fillna(df.PreferredPropertyStar.mode()[0], inplace = True)

# NumberOfTrips
df.NumberOfTrips.fillna(df.NumberOfTrips.median(), inplace = True)


# NumberOfChildrenVisiting
df.NumberOfChildrenVisiting.fillna(df.NumberOfChildrenVisiting.mode()[0], inplace = True)


# MonthlyIncome
df.MonthlyIncome.fillna(df.MonthlyIncome.median(), inplace = True)

In [11]:
df.isnull().sum()

CustomerID                  0
ProdTaken                   0
Age                         0
TypeofContact               0
CityTier                    0
DurationOfPitch             0
Occupation                  0
Gender                      0
NumberOfPersonVisiting      0
NumberOfFollowups           0
ProductPitched              0
PreferredPropertyStar       0
MaritalStatus               0
NumberOfTrips               0
Passport                    0
PitchSatisfactionScore      0
OwnCar                      0
NumberOfChildrenVisiting    0
Designation                 0
MonthlyIncome               0
dtype: int64

In [12]:
# create new column for feature

df['TotalVisiting'] = df['NumberOfPersonVisiting'] + df['NumberOfChildrenVisiting']
df.drop(columns = ['NumberOfPersonVisiting', 'NumberOfChildrenVisiting'], axis = 1, inplace = True)

In [13]:
df.columns

Index(['CustomerID', 'ProdTaken', 'Age', 'TypeofContact', 'CityTier',
       'DurationOfPitch', 'Occupation', 'Gender', 'NumberOfFollowups',
       'ProductPitched', 'PreferredPropertyStar', 'MaritalStatus',
       'NumberOfTrips', 'Passport', 'PitchSatisfactionScore', 'OwnCar',
       'Designation', 'MonthlyIncome', 'TotalVisiting'],
      dtype='object')

In [14]:
df.drop('CustomerID', axis = 1, inplace = True)

In [15]:
df.columns

Index(['ProdTaken', 'Age', 'TypeofContact', 'CityTier', 'DurationOfPitch',
       'Occupation', 'Gender', 'NumberOfFollowups', 'ProductPitched',
       'PreferredPropertyStar', 'MaritalStatus', 'NumberOfTrips', 'Passport',
       'PitchSatisfactionScore', 'OwnCar', 'Designation', 'MonthlyIncome',
       'TotalVisiting'],
      dtype='object')

In [16]:
# Extract Numerical and categorical

num_features = df.select_dtypes(exclude = 'object')
num_features.shape[1]

12

In [17]:
cat_features = df.select_dtypes(include = "object")
cat_features.shape[1]

6

In [18]:
# Encoding
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
for i in cat_features:
    df[i] = le.fit_transform(df[i])

In [19]:
from scipy.stats import zscore
z = np.abs(zscore(df))
df1 = df[(z<3).all(axis = 1)]
df = df1.copy()

In [20]:
# Train test split and model Testing

from sklearn.model_selection import train_test_split
X = df.drop(['ProdTaken'], axis = 1)
y = df['ProdTaken']

In [21]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_sc = sc.fit_transform(X)

In [22]:
y.value_counts() # check imbalancing --> for imbalance use smot.

ProdTaken
0    3960
1     916
Name: count, dtype: int64

In [23]:
from imblearn.over_sampling import SMOTE

smote = SMOTE(random_state = 42)
X_res, y_res = smote.fit_resample(X_sc, y)

In [24]:
y_res.value_counts() # checking imbalance is balance or not.

ProdTaken
1    3960
0    3960
Name: count, dtype: int64

In [25]:
X.head()

,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,Designation,MonthlyIncome,TotalVisiting
0,41.0,1,3,6.0,2,0,3.0,1,3.0,2,1.0,1,2,1,2,20993.0,3.0
1,49.0,0,1,14.0,2,1,4.0,1,4.0,0,2.0,0,3,1,2,20130.0,5.0
3,33.0,0,1,9.0,2,0,3.0,0,3.0,0,2.0,1,5,1,1,17909.0,3.0
4,36.0,1,1,8.0,3,1,3.0,0,4.0,0,1.0,0,5,1,1,18468.0,2.0
5,32.0,0,1,8.0,2,1,3.0,0,3.0,2,1.0,0,5,1,1,18068.0,4.0

In [26]:
# Separate dataset into train and test
X_train, X_test, y_train, y_test = train_test_split(X_res, y_res, test_size = 0.2, random_state = 42)
X_train.shape, X_test.shape

((6336, 17), (1584, 17))

In [27]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4876 entries, 0 to 4887
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Age                     4876 non-null   float64
 1   TypeofContact           4876 non-null   int32
 2   CityTier                4876 non-null   int64
 3   DurationOfPitch         4876 non-null   float64
 4   Occupation              4876 non-null   int32
 5   Gender                  4876 non-null   int32
 6   NumberOfFollowups       4876 non-null   float64
 7   ProductPitched          4876 non-null   int32
 8   PreferredPropertyStar   4876 non-null   float64
 9   MaritalStatus           4876 non-null   int32
 10  NumberOfTrips           4876 non-null   float64
 11  Passport                4876 non-null   int64
 12  PitchSatisfactionScore  4876 non-null   int64
 13  OwnCar                  4876 non-null   int64
 14  Designation             4876 non-null   int32
 15  MonthlyIncome           4876 non-null   float64
 16  TotalVisiting           4876 non-null   float64
dtypes: float64(7), int32(6), int64(4)
memory usage: 571.4 KB

In [28]:
# use algos.

from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report, precision_score, recall_score, f1_score, confusion_matrix

In [29]:
# create one method and use all these algos.(standard Code)

models = {
    "Logistic Regression":LogisticRegression(),
    "Decision Tree":DecisionTreeClassifier(),
    "Random Forest":RandomForestClassifier(),
    "Adaboost":AdaBoostClassifier()
}

for i in range(len(list(models))):
    model = list(models.values())[i]
    model.fit(X_train, y_train)   # Train Model

    # Make Predictions
    y_train_pred = model.predict(X_train)
    y_test_pred = model.predict(X_test)

    # Training set Performance
    model_train_accuracy = accuracy_score(y_train, y_train_pred) # calculate accuracy
    model_train_f1 = f1_score(y_train, y_train_pred, average = 'weighted') # calculate f1-score
    model_train_precision = precision_score(y_train, y_train_pred)  # calculate Precision
    model_train_recall = recall_score(y_train, y_train_pred)         #  calculate Recall
#    model_train_rocauc_score = roc_auc_score(y_train, y_train_pred)

    # Test set performance
    model_test_accuracy = accuracy_score(y_test, y_test_pred) # calculate accuracy
    model_test_f1 = f1_score(y_test, y_test_pred, average = 'weighted') # calculate f1-score
    model_test_precision = precision_score(y_test, y_test_pred)  # calculate Precision
    model_test_recall = recall_score(y_test, y_test_pred)         #  calculate Recall
#    model_test_rocauc_score = roc_auc_score(y_test, y_test_pred)
    
    print(list(models.keys())[i])
    
    print('Model Performance for Training Set')
    print('- Accuracy: {:.4f}'.format(model_train_accuracy))
    print('- F1-Score: {:.4f}'.format(model_train_f1))
    
    print('- Precision: {:.4f}'.format(model_train_precision))
    print('- Recall: {:.4f}'.format(model_train_recall))
#    print('- Roc Auc Score: {:.4f}'.format(model_train_rocauc_score))

    
    print('---------------------------------------------------------------------------------------------')
    
    print('Model Performance for Test Set')
    print('- Accuracy: {:.4f}'.format(model_test_accuracy))
    print('- F1-Score: {:.4f}'.format(model_test_f1))
    
    print('- Precision: {:.4f}'.format(model_test_precision))
    print('- Recall: {:.4f}'.format(model_test_recall))
#    print('- Roc Auc Score: {:.4f}'.format(model_test_rocauc_score))

    print('='*35)
    print('\n')

Logistic Regression
Model Performance for Training Set
- Accuracy: 0.7290
- F1-Score: 0.7290
- Precision: 0.7320
- Recall: 0.7258
---------------------------------------------------------------------------------------------
Model Performance for Test Set
- Accuracy: 0.7361
- F1-Score: 0.7361
- Precision: 0.7309
- Recall: 0.7346
===================================


Decision Tree
Model Performance for Training Set
- Accuracy: 1.0000
- F1-Score: 1.0000
- Precision: 1.0000
- Recall: 1.0000
---------------------------------------------------------------------------------------------
Model Performance for Test Set
- Accuracy: 0.9388
- F1-Score: 0.9388
- Precision: 0.9200
- Recall: 0.9590
===================================


Random Forest
Model Performance for Training Set
- Accuracy: 1.0000
- F1-Score: 1.0000
- Precision: 1.0000
- Recall: 1.0000
---------------------------------------------------------------------------------------------
Model Performance for Test Set
- Accuracy: 0.9842
- F1-Score: 0.9842
- Precision: 0.9821
- Recall: 0.9859
===================================


Adaboost
Model Performance for Training Set
- Accuracy: 0.8486
- F1-Score: 0.8486
- Precision: 0.8586
- Recall: 0.8362
---------------------------------------------------------------------------------------------
Model Performance for Test Set
- Accuracy: 0.8554
- F1-Score: 0.8554
- Precision: 0.8611
- Recall: 0.8423
===================================

In [30]:
# Hyperparameter Training 

rf_params = { "max_depth": [5,8,15,None, 10], "max_features":[5,7,8,10], "min_samples_split":[2,8,15,20], "n_estimators":[100, 200, 500, 1000]}
adaboost_param = {"n_estimators":[50,60,70,80,90], "algorithm":['SAMME', 'SAMME.R']}

In [31]:
rf_params

{'max_depth': [5, 8, 15, None, 10],
 'max_features': [5, 7, 8, 10],
 'min_samples_split': [2, 8, 15, 20],
 'n_estimators': [100, 200, 500, 1000]}

In [32]:
adaboost_param

{'n_estimators': [50, 60, 70, 80, 90], 'algorithm': ['SAMME', 'SAMME.R']}

In [33]:
# Models list for Hyperparameter tuning.

randomcv_models = [("RF", RandomForestClassifier(), rf_params), ("AB", AdaBoostClassifier(), adaboost_param)]

In [34]:
randomcv_models

[('RF',
  RandomForestClassifier(),
  {'max_depth': [5, 8, 15, None, 10],
   'max_features': [5, 7, 8, 10],
   'min_samples_split': [2, 8, 15, 20],
   'n_estimators': [100, 200, 500, 1000]}),
 ('AB',
  AdaBoostClassifier(),
  {'n_estimators': [50, 60, 70, 80, 90], 'algorithm': ['SAMME', 'SAMME.R']})]

In [36]:
from sklearn.model_selection import RandomizedSearchCV

model_param = {}
for name, model, params in randomcv_models:
    random = RandomizedSearchCV(estimator = model, param_distributions = params, n_iter = 100, cv = 3, verbose = 2, n_jobs = -1)
    random.fit(X_train, y_train)
    model_param[name] = random.best_params_

for model_name in model_param:
    print(f'---------- Best Params for {model_name} ----------')
    print(model_param[model_name])

Fitting 3 folds for each of 100 candidates, totalling 300 fits
Fitting 3 folds for each of 10 candidates, totalling 30 fits
---------- Best Params for RF ----------
{'n_estimators': 1000, 'min_samples_split': 2, 'max_features': 8, 'max_depth': None}
---------- Best Params for AB ----------
{'n_estimators': 90, 'algorithm': 'SAMME.R'}

In [38]:
models = {
    "Random Forest": RandomForestClassifier(n_estimators = 100, min_samples_split = 2, max_features = 8, max_depth = None), 
    "Adaboost": AdaBoostClassifier(n_estimators = 80, algorithm = "SAMME")
}
for i in range(len(list(models))):
    model = list(models.values())[i]
    model.fit(X_train, y_train)   # Train Model

    # Make Predictions
    y_train_pred = model.predict(X_train)
    y_test_pred = model.predict(X_test)

    # Training set Performance
    model_train_accuracy = accuracy_score(y_train, y_train_pred) # calculate accuracy
    model_train_f1 = f1_score(y_train, y_train_pred, average = 'weighted') # calculate f1-score
    model_train_precision = precision_score(y_train, y_train_pred)  # calculate Precision
    model_train_recall = recall_score(y_train, y_train_pred)         #  calculate Recall
#    model_train_rocauc_score = roc_auc_score(y_train, y_train_pred)

    # Test set performance
    model_test_accuracy = accuracy_score(y_test, y_test_pred) # calculate accuracy
    model_test_f1 = f1_score(y_test, y_test_pred, average = 'weighted') # calculate f1-score
    model_test_precision = precision_score(y_test, y_test_pred)  # calculate Precision
    model_test_recall = recall_score(y_test, y_test_pred)         #  calculate Recall
#    model_test_rocauc_score = roc_auc_score(y_test, y_test_pred)
    
    print(list(models.keys())[i])
    
    print('Model Performance for Training Set')
    print('- Accuracy: {:.4f}'.format(model_train_accuracy))
    print('- F1-Score: {:.4f}'.format(model_train_f1))
    
    print('- Precision: {:.4f}'.format(model_train_precision))
    print('- Recall: {:.4f}'.format(model_train_recall))
#    print('- Roc Auc Score: {:.4f}'.format(model_train_rocauc_score))

    print('---------------------------------------------------------------------------------------------')
    
    print('Model Performance for Test Set')
    print('- Accuracy: {:.4f}'.format(model_test_accuracy))
    print('- F1-Score: {:.4f}'.format(model_test_f1))
    
    print('- Precision: {:.4f}'.format(model_test_precision))
    print('- Recall: {:.4f}'.format(model_test_recall))
#    print('- Roc Auc Score: {:.4f}'.format(model_test_rocauc_score))

    print('='*35)
    print('\n')

Random Forest
Model Performance for Training Set
- Accuracy: 1.0000
- F1-Score: 1.0000
- Precision: 1.0000
- Recall: 1.0000
---------------------------------------------------------------------------------------------
Model Performance for Test Set
- Accuracy: 0.9811
- F1-Score: 0.9811
- Precision: 0.9699
- Recall: 0.9923
===================================


Adaboost
Model Performance for Training Set
- Accuracy: 0.8627
- F1-Score: 0.8627
- Precision: 0.8755
- Recall: 0.8469
---------------------------------------------------------------------------------------------
Model Performance for Test Set
- Accuracy: 0.8643
- F1-Score: 0.8641
- Precision: 0.8802
- Recall: 0.8385
===================================